<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>crearproducto works!</p>
      <a routerLinkActive="active" [routerLink]="['listar_productos']" class="nav-link">Listar productos</a>
      <a routerLinkActive="active" [routerLink]="['agregar_productos']" class="nav-link active">Añadir productos</a>      
    </div>
  </div>
</div>
