<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Añadir producto works!</h1>
      <form #formProducto="ngForm" id="form-producto" (ngSubmit)="saveProducto()">
        <label>Nombre del producto
          <span *ngIf="!nomproducto.valid && nomproducto.touched" class="label alert-danger">*El nombre es obligatorio</span>
        </label>
        <input type="text" #nomproducto="ngModel" name="nomproducto" [(ngModel)]="producto.nomproducto" class="form-control" autocomplete="off" required>

        <label>Precio
            <span *ngIf="!nomproducto.valid && nomproducto.touched" class="label alert-danger">*El precio es obligatorio</span>
        </label>
        <input type="number" #precio="ngModel" name="precio" [(ngModel)]="producto.precio" class="form-control" autocomplete="off" required pattern="[0-9.]+">

        <br>
        <button type="submit" class="btn btn-danger" [disabled]="!formProducto.form.valid">Enviar</button>
      </form>
    </div>
  </div>
</div>
