<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Listar Produtos works!</p>
      <div *ngFor="let producto of producto">
      {{producto.nomproducto}}
      </div>
    </div>
  </div>
</div>
