<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <p>unico works!</p>
      <div *ngIf="unico">
          {{unico.id}}
          {{unico.nomproducto}}
      <button routerLinkActive="active" [routerLink]="['/productos']" class="btn btn-success">volver</button>
      </div>
    </div>
  </div>
</div>
