<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>productos works!</p>
      <table class="table">
        <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of producto">
               <td>{{producto.nomproducto}}</td>
               <td>${{producto.precio}}</td>
               <td>
                 <button routerLinkActive="active" [routerLink]="['editar', producto.id]" class="btn btn-warning">Editar</button> &nbsp;
                 <button routerLinkActive="active" [routerLink]="['unico', producto.id]" class="btn btn-info"> Detalle</button>
               </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
