<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['inicio']" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['productos']" class="nav-link">Productos</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['crear']" class="nav-link">Crear productos</a>
        </li>
      </ul>
    </div>
  </div>
</div>
